{{! Template

<li class="drawer-list-item">
  <a href="http://blog.tgfa.net" title="blog tgfa">
    Blog
  </a>
</li>

<li class="drawer-list-item">
  <a href="http://app.tgfa.net" title="app tgfa">
    App
  </a>
</li>

}}

<li class="drawer-list-item">
  <a href="http://tgfa.net">
    <i class="fa fa-home fa-lg fa-fw"></i>Home
  </a>
</li>
<li class="drawer-list-item">
  <a href="{{@blog.url}}/rss/">
    <i class="fa fa-rss fa-lg fa-fw"></i>Subscribe to Feed
  </a>
</li>
